variables:
  # nodes: [2, 4]
  # channels: [2, 4, 8, 16, 32]
  # protocols: ["Simple", "LL",  "LL128"]
  # threads: [64, 128, 256, 512]
  # partition_leonardo: ["boost_usr_prod"]
  # partition_lumi: [dev-g]
  nodes: [2]
  channels: [2]
  protocols: [LL128]
  threads: [64]
  partition_leonardo: [boost_usr_prod]
  partition_lumi: [dev-g]


  
leonardo:
  scheduler: slurm

  default_conf:
    account: "IscrC_OMG-25"
    exclusive: true
    partition: debug
    gpus: 4
    cpus_per_task: 1
    tasks_per_node: 4
    time: "00:10:00"

  configs:
  
    - name: "a2a_{nodes}_{protocols}_{channels}_{threads}_{partition_leonardo}"
      account: "IscrC_OMG-25"
      nodes: "{nodes}"
      exclusive: true
      partition: "{partition_leonardo}"
      time: "00:10:00"
      modules: []
      env:
        - "NCCL_PROTO={protocols}"
        - "NCCL_MIN_CTAS={channels}"
        - "NCCL_MAX_CTAS={channels}"
        - "NCCL_NTHREADS={threads}"
    # - name: "ar_"

lumi:
  scheduler: slurm

  default_conf:
    account: "project_465002469"
    exclusive: true
    gpus: 4
    partition: dev-g
    cpus_per_task: 1
    tasks_per_node: 4
    time: "00:10:00"

  configs:
    - name: "a2a_n{nodes}_prot{protocols}_ch{channels}_th{threads}_{partition_lumi}"
      exclusive: true
      nodes: "{nodes}"
      partition: "{partition_lumi}"
      time: "00:10:00"
      modules: ["LUMI/25.03", "PrgEnv-cray", "craype-accel-amd-gfx90a", "rocm/6.3.4", "gcc-native"]
      env:
        - "NCCL_PROTO={protocols}"
        - "NCCL_MIN_CTAS={channels}"
        - "NCCL_MAX_CTAS={channels}"
        - "NCCL_NTHREADS={threads}"
        - "CXX=/opt/rocm-6.3.4/lib/llvm/bin/clang++"
        - "CC=gcc"